[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator.git
[submodule "scripts/apothecary"]
	path = scripts/apothecary
	url = https://github.com/openframeworks/apothecary
[submodule "addons/ofxJsonSettings"]
	path = addons/ofxJsonSettings
	url = https://github.com/ConduiteAlgorithmique/ofxJsonSettings
[submodule "addons/ofxHDF5"]
	path = addons/ofxHDF5
	url = https://github.com/ConduiteAlgorithmique/ofxHDF5
[submodule "addons/ofxSoundObjects"]
	path = addons/ofxSoundObjects
	url = https://github.com/ConduiteAlgorithmique/ofxSoundObjects
[submodule "addons/ofxHapPlayer"]
	path = addons/ofxHapPlayer
	url = https://github.com/ConduiteAlgorithmique/ofxHapPlayer
[submodule "addons/ofxFatLines"]
	path = addons/ofxFatLines
	url = https://github.com/ConduiteAlgorithmique/ofxFatLines
[submodule "apps/myApps/-f"]
	path = apps/myApps/-f
	url = https://github.com/ConduiteAlgorithmique/ConduiteAlgorithmique
[submodule "apps/myApps/ConduiteAlgorithmique"]
	path = apps/myApps/ConduiteAlgorithmique
	url = https://github.com/ConduiteAlgorithmique/ConduiteAlgorithmique
[submodule "addons/ofxJSON"]
	path = addons/ofxJSON
	url = https://github.com/ConduiteAlgorithmique/ofxJSON
[submodule "addons/ofxFft"]
	path = addons/ofxFft
	url = https://github.com/ConduiteAlgorithmique/ofxFft
