#########################
# core addons
#########################

!.project
!.cproject
!ofx3DModelLoader
!ofxAccelerometer
!ofxAndroid
ofxAndroid/ofAndroidLib/bin
ofxAndroid/ofAndroidLib/gen
!ofxAssimpModelLoader
!ofxGui
!ofxiOS
!ofxKinect
!ofxMultiTouch
!ofxNetwork
!ofxOpenCv
!ofxOsc
!ofxSvg
!ofxThreadedImageLoader
!ofxVectorGraphics
!ofxXmlSettings
!ofxEmscripten
!ofxGPS
!ofxUnitTests
!ofxProjectGenerator
!ofxPoco
!ofxJsonSettings
!ofxJSON
!ofxHDF5
!ofxSoundObjects
!ofxHapPlayer
!ofxFatLines
!ofxFft

#ignore binary libraries
ofxOpenCv/libs
ofxAssimpModelLoader/libs
ofxSvg/libs
ofxPoco/libs
ofxKinect/libs

# don't ignore the .gitignore file
!.gitignore
